*~
*.log
*.out

.idea/

# cmds
cmd/binapi-generator/binapi-generator

# examples
examples/perf-bench/perf-bench
examples/simple-client/simple-client
examples/stats-api/stats-api
examples/union-example/union-example
examples/rpc-service/rpc-service
