.idea

# cmds
cmd/binapi-generator/binapi-generator

# examples
examples/cmd/perf-bench/perf-bench
examples/cmd/simple-client/simple-client
examples/cmd/stats-client/stats-client

# extras
extras/libmemif/examples/gopacket/gopacket
extras/libmemif/examples/icmp-responder/icmp-responder
extras/libmemif/examples/jumbo-frames/jumbo-frames
extras/libmemif/examples/raw-data/raw-data
