---
name: Test
on:
  # Runs on branch push to master & PRs
  push:
    branches:
      - master
      - release/*
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**.md'
  # Runs daily at 05:05
  schedule:
    - cron: '5 5 * * *'
  # Allows running manually
  workflow_dispatch:

jobs:
  integration:
    name: "VPP Integration ${{ matrix.version }}"
    runs-on: ubuntu-latest
    env:
      VPP_REPO: ${{ matrix.version }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - 'master'
          - '2510'
          - '2502'
          - '2406'

    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Setup Go"
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'

      - name: "Run Tests"
        run: |
          make test-integration
          make test-memory-benchmark
