---
name: Test
on:
  # Runs on branch pushes & PRs
  push:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**.md'
  # Runs daily at 05:05
  schedule:
    - cron: '5 5 * * *'
  # Allows running manually
  workflow_dispatch:

jobs:
  integration:
    name: "VPP Integration ${{ matrix.version }}"
    runs-on: ubuntu-latest
    env:
      VPP_REPO: ${{ matrix.version }}
    strategy:
      fail-fast: false
      matrix:
        version: [ '2306', '2302', '2210', '2206' ]

    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.20'
      - name: "Run Tests"
        run: |
          make test-integration
